<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823202357192-tq3011a01omcnihddttr979grn43d5ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823202357192-tq3011a01omcnihddttr979grn43d5ec</string>
	<key>API_KEY</key>
	<string>AIzaSyAN2DY8lVBb7zX8kooqJUhBh66zdRsWTXE</string>
	<key>GCM_SENDER_ID</key>
	<string>823202357192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.enricogollner.AppBackFront</string>
	<key>PROJECT_ID</key>
	<string>appbackfront-95fee</string>
	<key>STORAGE_BUCKET</key>
	<string>appbackfront-95fee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823202357192:ios:56b1ae8960ff80cd372afd</string>
</dict>
</plist>